<!-- <div class="home-container">
  <h1>Welcome to our Cookbook</h1>
  <div class="button-group">
    <button (click)="goToAddRecipe()">Add Recipe</button>
    <button (click)="goToViewRecipes()">View Recipes</button>
    <button (click)="goToFavorites()">Favorite Recipes</button>
  </div>
</div> -->

<div class="home-container">
  <div class="headline">
    <h1 class="line-1">Welcome</h1>
    <h1 class="line-2">to our </h1>
    <h1 class="line-3"> Cookbook</h1>
  </div>

  <div class="button-group">
    <button (click)="goToAddRecipe()">Add Recipe</button>
    <button (click)="goToViewRecipes()">View Recipes</button>
    <button (click)="goToFavorites()">Favorite Recipes</button>
  </div>
</div>


